<ol class="breadcrumb">
  <li><a ui-sref='problem()'>Problems</a></li>
  <li><strong>{{ problemId }} (in {{ language }})</strong></li>
</ol>

<h1>Attempting {{ problemId }} (in {{ language }})</h1>

<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ng-class="{active: state.current.name === 'attempt.description'}"><a ui-sref="attempt.description()" ui-sref-opts="{location:'replace'}" role="tab">Description</a></li>
    <li role="presentation" ng-class="{active: state.current.name === 'attempt.code'}"><a ui-sref="attempt.code()" ui-sref-opts="{location:'replace'}" role="tab">Code</a></li>
</div>

<div ui-view=""></div>
