<ol class="breadcrumb">
  <li>Problems</li>
</ol>

<div class="row">
  <div class="col-md-8">
    <div ng-if="_.isNull(language)">
      Please select a language to see available problems. Not all problems are available for all languages - we're working on it!
    </div>

    <select ng-options="language.text for language in languages track by language.value" ng-model="language" ng-change="changeLanguage()" class="language-select">
      <option style="display:none" value="">select a language</option>
    </select>
    <div ng-if="problems.length == 0 && !_.isNull(language)">
      No problems found for this language right now, sorry!
    </div>
    <li ng-repeat="problem in problems">
      <a ui-sref='attempt.description({problemId: problem.id, language: language.value})'>{{ problem.title }}</a>
    </li>
  </div>
</div>
