<div class="row">
  <div class="col-md-8">
      <select class="language-select">
          <option value="c">C</option>
          <option value="cpp">C++</option>
          <option value="java">Java</option>
          <option value="javascript">JavaScript</option>
          <option selected="selected" value="python">Python</option>
          <option value="ruby">Ruby</option>
      </select>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
      <select class="problem-select">
          <option value="<empty>">no problems found</option>
      </select>
  </div>
</div>
